<div class="page-header">
  <h1>Device <%= device.ID %></h1>
</div>

<ul class="list-unstyled">
  <li>Model: <%= device.Model %></li>
  <li>Description: <%= device.Description %></li>
  <li>Serial: <%= device.Serial %></li>
</ul>

<ul class="list-unstyled list-inline">
  <li><a href="<%= devicesPath() %>" class="btn btn-info">Back to all Devices</a></li>
  <li><a href="<%= editDevicePath({ device_id: device.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= devicePath({ device_id: device.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

